extends layout

block content

  h1.page-title #{subCategory.name}
  p #[strong Category: ] #{category.name}
  p=subCategory.description
  hr
  p
    a.btn.btn-warning(href= '/catalog/subCategory/' + subCategory.id+'/update') Update subCategory
  p 
    a.btn.btn-danger(href='/catalog/subCategory/' + subCategory.id+'/delete') Delete subCategory
  hr

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Items
    if items.length
      dl
        each item in items
          dt
            a(href='/catalog/item/' + item.id) #{item.name}
          dd #{item.description}
    else
      p This subCategory has no items.
